* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(253, 241, 241) !important;
    font-size: 1.6rem;
    
}

.clear{
    clear: both;
}

header{
    margin-top: 25px;
}

header a{
    text-decoration: none;
    color: rgb(10, 9, 9);
    padding: 20px;
}

header button{
    background-color:rgb(237, 218, 218);
    border-radius: 10px;
    border: 1px solid rgb(186, 183, 183);
    text-align: right;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px
}

header img{
    height: 70px;
    margin-right: 25px;
}

.text-1{
    width: 500px;
    float: left;
    font-size: 40px;
    margin-top: 50px;
}

.text-1 button{
    background-color:rgb(237, 218, 218);
    border-radius: 10px;
    border: 1px solid rgb(186, 183, 183);
    text-align: right;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}

.img-1 img{
    float: right;
    height: 300px;
    border-radius: 50px;
}
section {
    margin: 4rem auto 8rem;
}

.img-seguidas{
    margin-top:70px
}

.img-seguidas img{
    height: 85px;
    border-radius:20px;
    margin-left: 10px;
}

h2 {
    margin-bottom: 1rem;
}

.container {
    width: 1000px !important;
    margin: 0 auto;
}

.parent {
    color: black;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
    padding: 2rem;
}

.origin {
    flex-basis: 100%;
    flex-grow: 1;
    padding: 1rem;
}

.draggable {
    border: 1px solid #efefef;
    background-color: #ddd;
    cursor: grab;
    font-weight: normal;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;
}

.dropzone {
    border: 2px dashed #ddd;
    background-color: #eee;
    flex-basis: 100%;
    flex-grow: 1;
    margin: 1rem;
    padding: 1rem;
}

footer{
    background-color: #eee;
}

.notificar{
    width: 1000px;
    margin-left:150px;
    padding-top: 40px;

}

.notificar button{
    background-color:rgb(237, 218, 218);
    border-radius: 10px;
    border: 1px solid rgb(186, 183, 183);
    text-align: right;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px
}
button:hover {
    transform: scale(1.1);
    transition: all 0.5s;
  } 
.notificar h2{
    font-size:20px
}
footer p{
    margin-left: 40%;
}
@media (max-width: 620px) {
    .container {
        max-width: 560px;
    }

}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #fff;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: rgb(253, 241, 241);
    }
}

@media (max-width: 1000px) {
.img-1 img{
    display: none;
}
}

@media (max-width: 1000px) {
.img-seguidas img{
    height: 85px;
    border-radius:20px;
    margin-left: 10px;
    margin-top: 10px;

}
}
